.card {
  /*background-color: blue; */
  float: left;
  height: 24vw;
  margin: 1%;
  width: 23%;
}
.flipped{
  background-color: yellow;
}
.flipped2{
  background-color: green;
}
.flipped3{
  background-color: white;
}
.flipped4{
  background-color: blue;
}
.flipped5{
  background-color: black;
}
.flipped6{
  background-color: purple;
}
.flipped7{
  background-color: plum;
}
.flipped8{
  background-color: palevioletred;
}
.zu{
  background-color: aqua !important;
}
.oeffen{
 visibility: hidden;
}
